
@using System.Data;
@using System.Data.SqlClient;
@using HumanResourceMgtSys.CustomClasses;
@model HumanResourceMgtSys.Models.EmpFamilyDetail
@{

    SqlHelper obj = new SqlHelper();

    ViewBag.Title = "EmpFamilyDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";

    DataTable tblhomestate = obj.GetDataTable(@"select id,state_nm FROM Master_state order by id");
    List<CommonMaster> state = new List<CommonMaster>();
    if (tblhomestate.Rows.Count > 0)
    {
        for (int i = 0; i < tblhomestate.Rows.Count; i++)
        {
            CommonMaster sta = new CommonMaster();
            sta.id = Convert.ToInt32(tblhomestate.Rows[i]["id"].ToString().Trim());
            sta.name = tblhomestate.Rows[i]["state_nm"].ToString().Trim();
            state.Add(sta);
        }
    }

    <script type="text/javascript">
        function addcategory() {

            var value = $("#rel_type option:selected");
            $("#ddlsubcategory").val(value.text());
        }

    </script>
    <script>
        $(document).ready(function () {
            $("#nominee").click(function () {
                if ($(this).prop("checked") == true) {

                    $("#checktext").val("yes");
                }
                else if ($(this).prop("checked") == false) {
                    $("#checktext").val("No");
                }

            });
        });
    </script>


}

<div class="content-wrapper">
    <div id="headderDivToPrint" style="display: none;">
        <table style="width: 100%;">
            <tr>
                <td style="width: 15%">
                    <img src="~/Content/assets/img/logo.png" />
                </td>
                <td style="text-align: center;">
                    <h1 class="box-title">Human Resource Management System, PWD Uttarakhand</h1>
                </td>
                <td style="width: 15%"></td>
            </tr>
        </table>
    </div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <table id="entry16" class="panel panel-info" id="entry15" style="width: 100%;">
            <tr style="background-color: #367FA9!important;">
                <td style="text-align: center; width: 100%">
                    <Label ID="Label26" Style="font-weight: 700" Font-Bold="True" Font-Size="Large" ForeColor="White">Family Dependants Details</Label>
                </td>
            </tr>

            <tr>
                <td style="text-align: left;" colspan="2">
                    <table class="table table-bordered" id="mytable">
                        <thead>
                            <tr>
                                <th>SNo.</th>
                                <th>Initial</th>
                                <th>Name</th>
                                <th>Relation</th>
                                <th>DOB</th>
                                <th>AadharNo</th>
                                <th>Nominee</th>
                                <th> </th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr>
                                <td><label for="SNO">1</label></td>
                                <td>
                                    <select ID="rel_res" CssClass="ddl " Width="100px" name="rel_res">
                                        <option value="0">Select</option>
                                        <option value="Mrs.">Mrs.</option>
                                        <option value="Mr.">Mr.</option>
                                        <option value="Ms.">Ms.</option>

                                    </select>
                                </td>
                                <td>

                                    <input type="text" ID="rel_nm" placeholder="Name" CssClass="form-control" name="rel_nm" />
                                </td>
                                <td>

                                    <select ID="rel_type" CssClass="ddl " Width="100px" name="rel_type" onchange="addcategory()">
                                        <option value="0">Select</option>
                                        <option value="1">Wife</option>
                                        <option value="2">Son</option>
                                        <option value="3">Mother</option>
                                        <option value="4">Father</option>
                                        <option value="5">Daughter</option>
                                        <option value="6">Husband</option>
                                        <option value="7">Other</option>
                                    </select>
                                    <input type="text" id="ddlsubcategory" name="ddlsubcategory" class="hidden" />
                                </td>
                                <td>
                                    <input type="date" cssclass="form-control text-uppercase" itemstyle-horizontalalign="Center" placeholder="dob" id="rel_dob" name="rel_dob">
                                </td>

                                <td>
                                    <input type="text" Id="rel_aadhar" name="rel_aadhar" placeholder="Aadhaar" ItemStyle-HorizontalAlign="Center" CssClass="form-control" Width="100px" MaxLength="12" />
                                </td>
                                <td>
                                    <input type="checkbox" Id="nominee" name="nominee" CssClass="icheckbox_minimal" OnCheckedChanged="ChkSelect_OnCheckedChanged" />
                                    <input type="text" id="checktext" name="checktext" class="hidden" />
                                </td>
                                <td>
                                    <input type="button" id="delete" name="delete" value="Delete" />
                                </td>

                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td><input type="button" id="add" name="addbtn" value="Add" /></td>
                                <td></td>
                            </tr>



                        </tbody>
                    </table>
                    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
                    <script>
                        $(document).ready(function () {
                            var counter = 2;

                            $("#add").on("click", function () {
                                alert("Hello");
                                var markup = "<tr></tr>";


                                markup += '<tr>';
                                markup += '<td style="font-weight: bold;">' + counter + '</td>';
                                markup += '<td> <select ID="rel_res" name="rel_res" CssClass="ddl " Width="100px"><option value="0">Select</option> <option value="1">Mrs.</option><option value="2">Mr.</option> <option value="3">Ms.</option></select></td>';
                                markup += '<td><input type="text" ID="rel_nm" name="rel_nm" placeholder="Name" CssClass="form-control" /></td>';
                                markup += '<td>  <select ID="rel_type" name="rel_type" CssClass="ddl " Width="100px"> <option value="0">Select</option> <option value="1">Wife</option><option value="2">Son</option> <option value="3">Mother</option><option value="4">Father</option><option value="5">Daughter</option> <option value="6">Husband</option> <option value="7">Other</option></select><input type="text" id="ddlsubcategory" name="ddlsubcategory" class="hidden" /></td>';
                                markup += '<td><input type="date" CssClass="form-control text-uppercase" ItemStyle-HorizontalAlign="Center" placeholder="dob" ID="rel_dob" name="rel_dob" /></td>';
                                markup += '<td><input type="text" ID="rel_aadhar" name="rel_aadhar" placeholder="Aadhaar" ItemStyle-HorizontalAlign="Center" CssClass="form-control" Width="100px" MaxLength="12" /></td>';
                                markup += '<td> <input type="checkbox" ID="nominee" name="nominee" CssClass="icheckbox_minimal" OnCheckedChanged="ChkSelect_OnCheckedChanged" /><input type="text" id="checktext" name="checktext" class="hidden" /></td>';
                                markup += '<td><input type="button" id="delete" name="delete" value="Delete" /></td><tr>';

                                counter++;

                                $("#mytable ").append(markup);
                            });
                        });
                    </script>
                </td>
            </tr>
            <tr>
                <td style="text-align: center; width: 100%">
                    <section class="content" style="min-height: 150px;">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="col-md-12  form-group center-block text-center">
                                    @*<Button ID="Button2"
                                                ValidationGroup="ee" CommandName="PrevView" Font-Size="8pt"
                                                CssClass="btn btn-sm btn-danger marginUP6">
                                            < Prev View
                                        </Button>*@
                                    <input type="submit" id="submit2" name="submit2" value="Save" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="col-md-12  form-group  center-block text-center">
                                    <Button ID="Button3" Text=" >"
                                            ValidationGroup="ee" CommandName="NextView" Font-Size="8pt"
                                            CssClass="btn btn-sm btn-success marginUP6">
                                        Next View
                                    </Button>
                                    <br />
                                </div>
                            </div>
                        </div>
                    </section>
                </td>
            </tr>
        </table>

    }
</div>

